// Place all the styles related to the Cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.p_b
  border: 1px solid red
  min-width: 100px
.modal .modal-dialog
  width: 90%
.modal .modal-body
  overflow-y: auto
